In [175]:
import pandas as pd
import glob

# Gathering data

In [176]:
# CSV: get data file names
path ='airbnb_data/used/'
filenames = glob.glob(path + "*.csv")
data = pd.concat([pd.read_csv(file) for file in filenames])

In [177]:
# 2018-2019 datas

def get_lisbon(file):
    data_month = pd.read_csv(file, usecols = ['neighbourhood_group', 'room_type', 'price'])
    listings = len(data_month[data_month['neighbourhood_group'] == 'Lisboa'])
    
    room = len(data_month[(data_month['room_type'] == 'Private room') & (data_month['neighbourhood_group'] == 'Lisboa')])
    avg_room = data_month['price'][(data_month['room_type'] == 'Private room') & (data_month['neighbourhood_group'] == 'Lisboa')].mean()
    
    shared_room = len(data_month[(data_month['room_type'] == 'Shared room') & (data_month['neighbourhood_group'] == 'Lisboa')])
    avg_shared_room = data_month['price'][(data_month['room_type'] == 'Shared room') & (data_month['neighbourhood_group'] == 'Lisboa')].mean()
    
    apt = len(data_month[(data_month['room_type'] == 'Entire home/apt') & (data_month['neighbourhood_group'] == 'Lisboa')])
    avg_apt = data_month['price'][(data_month['room_type'] == 'Entire home/apt') & (data_month['neighbourhood_group'] == 'Lisboa')].mean()
    
    return listings, room, avg_room, shared_room, avg_shared_room, apt, avg_apt

lisbon_monthly = [get_lisbon(x) for x in filenames]

In [178]:
# 2017 data
path2 = 'airbnb_data/used/Older/'
filenames2 = glob.glob(path2 + "*.csv")
data2 = pd.concat([pd.read_csv(file) for file in filenames2])
filenames2

def get_lisbon2(file):
    data_month = pd.read_csv(file, usecols = ['room_type', 'price'])
    listings = len(data_month)
    
    room = len(data_month[data_month['room_type'] == 'Private room'])
    avg_room = data_month['price'][(data_month['room_type'] == 'Private room')].mean()
    
    shared_room = len(data_month[data_month['room_type'] == 'Shared room'])
    avg_shared_room = data_month['price'][(data_month['room_type'] == 'Shared room')].mean()
    
    apt = len(data_month[data_month['room_type'] == 'Entire home/apt'])
    avg_apt = data_month['price'][(data_month['room_type'] == 'Entire home/apt')].mean()
    
    return listings, room, avg_room, shared_room, avg_shared_room, apt, avg_apt

lisbon_monthly2 = [get_lisbon2(x) for x in filenames2]

C:\Users\Zaca\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  after removing the cwd from sys.path.

In [179]:
#TEST CELL

#feb = pd.read_csv('airbnb_data/used/airbnb_august18.csv')
#feb[feb['room_type'] == 'Entire home/apt']
#room = len(feb[(feb['room_type'] == 'Private room') & (feb['neighbourhood_group'] == 'Lisboa')])

In [180]:
#get column names from filenames
colnames = [x[24:-4] for x in filenames]
colnames2 = [x[30:-4] for x in filenames2]
colnames = colnames + colnames2

In [181]:
# importing hotel data

hotel = pd.read_csv('hotel_short_2.csv',sep = ';')
hotel['month'] = [value.replace('Jun','June').replace('Jul','July') for value in hotel['month']]
hotel['price'] = [float(value.replace('â‚¬','').replace(',','.')) for value in hotel['price'].astype(str)]
hotel = hotel.rename(columns={' price ': 'price'})

# Cleaning

In [182]:
#Cleaning 

lisbon_airbnb = lisbon_monthly + lisbon_monthly2

lisbon_airbnb = pd.DataFrame(lisbon_airbnb, columns = ['Listings', 'Private room', 'Private room average price', 'Shared room', 'Shared room average price', 'Entire apt', 'Entire apt average price'])
lisbon_airbnb['Month']=colnames

# separate month and year

lisbon_airbnb["Month"] = lisbon_airbnb["Month"].str.split('\d', n = 1)
lisbon_airbnb[['Month','Year']] = pd.DataFrame(lisbon_airbnb.Month.values.tolist(), index= lisbon_airbnb.index)

year = [str(201) + w for w in lisbon_airbnb['Year']]
lisbon_airbnb['Year'] = year

lisbon_airbnb["Month"] = lisbon_airbnb["Month"].str.capitalize()

#reorder columns

column_order = ['Year', 'Month', 'Listings', 'Entire apt', 'Entire apt average price', 'Private room', 'Private room average price', 'Shared room', 'Shared room average price']
lisbon_airbnb = lisbon_airbnb[column_order]

month_name_dict = {'January' : 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5, 'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'November': 11, 'December': 12}

In [183]:
lisbon_airbnb['Month']
lisbon_airbnb['Month'].replace(month_name_dict, inplace=True)

In [184]:
#cleaning hotel data

hotel_sh = hotel[hotel['stars'] == 3]
hotel_sh.reset_index(inplace=True)

price4 = hotel[hotel['stars'] == 4]
price4.reset_index(inplace=True)

price5 = hotel[hotel['stars'] == 5]
price5.reset_index(inplace=True)

hotel_sh['price4'] = price4['price']
hotel_sh['price5'] = price5['price']
hotel_sh = hotel_sh.rename(columns={'price': 'price3'})
hotel_sh = hotel_sh.drop(['stars', 'index'], axis=1)

C:\Users\Zaca\Anaconda3\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\Zaca\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [185]:
hotel_sh

    year      month  price3  price4  price5
0   2017    January   51.55   65.50  129.67
1   2017   February   50.35   66.03  128.15
2   2017      March   54.66   70.58  138.63
3   2017      April   74.49   88.92  169.53
4   2017        May   78.44   96.92  182.69
5   2017       June   74.03   90.30  170.80
6   2017       July   72.59   85.73  163.68
7   2017     August   75.26   86.34  159.05
8   2017  September   89.77  109.60  200.97
9   2017    October   85.00  108.92  195.91
10  2017   November   62.81   83.63  164.98
11  2017   December     NaN     NaN     NaN
12  2018    January   58.93   72.82  147.69
13  2018   February   57.17   71.25  143.27
14  2018      March   65.60   83.21  153.34
15  2018      April   82.37   95.02  174.53
16  2018        May   97.39  110.54  199.30
17  2018       June   90.37  104.61  193.39
18  2018       July   91.41  101.76  194.98
19  2018     August   84.68   92.87  182.09
20  2018  September   94.25  110.36  193.95
21  2018    October   87.85  102.77  189.10
22  2018   November   70.35   88.04  170.06
23  2018   December     NaN     NaN     NaN
24  2019    January   58.58   75.29  152.19
25  2019   February   56.10   72.75  148.78
26  2019      March   68.05   89.97  156.12
27  2019      April   84.44  100.86  178.87
28  2019        May   93.23  112.18  196.77
29  2019       June   94.06  118.90  212.56
30  2019       July   83.82   96.30  178.18
31  2019     August   80.98   95.98  168.26
32  2019  September     NaN     NaN     NaN
33  2019    October     NaN     NaN     NaN
34  2019   November     NaN     NaN     NaN
35  2019   December     NaN     NaN     NaN

# AirBnb data

In [186]:
lisbon_airbnb

,Year,Month,Listings,Entire apt,Entire apt average price,Private room,Private room average price,Shared room,Shared room average price
0,2018,4,14241,10720,91.432369,3334,50.386923,187,30.363636
1,2019,4,16947,12736,95.797660,3962,65.796567,249,43.755020
2,2018,8,16337,12088,98.444325,4034,53.942489,215,29.753488
3,2019,8,18350,13651,98.875907,4434,72.337618,263,48.730038
4,2018,12,16577,12423,96.573855,3936,64.695884,218,47.334862
5,2018,7,16141,11815,95.040034,4120,52.034709,206,30.563107
6,2019,7,18246,13544,98.496308,4466,72.917600,236,51.813559
7,2019,6,17713,13257,98.264087,4209,71.575196,247,50.906883
8,2019,3,16886,12740,94.824725,3899,65.011028,247,43.894737
9,2018,5,14722,11010,92.983560,3513,50.033874,199,29.663317
10,2019,5,17249,13001,96.908853,3994,72.062594,254,51.645669
11,2018,11,16230,12142,97.049086,3866,63.317124,222,46.833333
12,2019,11,18227,13472,103.825787,4037,55.285360,244,25.405738
13,2018,10,15964,11921,96.574448,3826,59.404339,217,48.345622
14,2019,10,18232,13464,99.971331,4060,54.873399,226,24.721239
15,2018,9,16080,11979,96.373153,3887,58.394134,214,48.579439
16,2019,9,18277,13464,98.514335,4107,54.816411,233,30.510730
17,2017,4,12499,9298,96.630458,3018,43.553015,183,34.229508
18,2017,2,11792,8748,91.150663,2880,41.084375,164,32.030488
19,2017,1,11654,8676,91.167704,2832,41.139477,146,34.746575
20,2017,7,13578,9950,103.813769,3464,46.504042,164,36.231707
21,2017,6,13232,9764,101.338181,3297,45.629967,171,34.397661
22,2017,3,12045,8952,94.794013,2903,42.210127,190,31.000000
23,2017,5,12797,9475,97.699420,3128,43.574808,194,33.273196

In [187]:
airbnb_summer = lisbon_airbnb[(lisbon_airbnb["Month"]== 'June') | (lisbon_airbnb["Month"]== 'July') | (lisbon_airbnb["Month"]== 'August') | (lisbon_airbnb["Month"]== 'September')]
airbnb_summer_17 = airbnb_summer[airbnb_summer['Year'] == '2017']
airbnb_summer_18 = airbnb_summer[airbnb_summer['Year'] == '2018']
airbnb_summer_19 = airbnb_summer[airbnb_summer['Year'] == '2019']

C:\Users\Zaca\Anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [188]:
airbnb_winter = lisbon_airbnb[(lisbon_airbnb["Month"]== 'November') | (lisbon_airbnb["Month"]== 'December') | (lisbon_airbnb["Month"]== 'January') | (lisbon_airbnb["Month"]== 'February')]
airbnb_winter_17 = airbnb_winter[airbnb_winter['Year'] == '2017']
airbnb_winter_18 = airbnb_winter[airbnb_winter['Year'] == '2018']
airbnb_winter_19 = airbnb_winter[airbnb_winter['Year'] == '2019']

In [189]:
# average listing numbers SUMMER
avg_sum_19 = airbnb_summer_19['Listings'].mean()
avg_sum_18 = airbnb_summer_18['Listings'].mean()
avg_sum_17 = airbnb_summer_17['Listings'].mean()

print("Average listing numbers for summer: \n" + "2019: " + str(avg_sum_19), "\n2018: " + str(avg_sum_18), "\n2017: " + str(avg_sum_17))

Average listing numbers for summer:
2019: nan
2018: nan
2017: nan

In [190]:
#dict_listings = {'2017': avg_sum_17, '2018': avg_sum_18, '2019': avg_sum_19}

#listings_avg = pd.DataFrame(data = dict_listings) 
#listings_avg

In [191]:
# average listing numbers WINTER
avg_win_19 = airbnb_winter_19['Listings'].mean()
avg_win_18 = airbnb_winter_18['Listings'].mean()
avg_win_17 = airbnb_winter_17['Listings'].mean()

print("Average listing numbers for winter: \n" + "2019: " + str(avg_win_19), "\n2018: " + str(avg_win_18), "\n2017: " + str(avg_win_17))

Average listing numbers for winter:
2019: nan
2018: nan
2017: nan

In [192]:
# average apt summer
avg_apt_sum_19 = airbnb_summer_19['Entire apt'].mean()
avg_apt_sum_18 = airbnb_summer_18['Entire apt'].mean()
avg_apt_sum_17 = airbnb_summer_17['Entire apt'].mean()

print("Average number of apartments for summer: \n2019: " + str(avg_apt_sum_19), "\n2018: " + str(avg_apt_sum_18), "\n2017: " + str(avg_apt_sum_17))

Average number of apartments for summer:
2019: nan
2018: nan
2017: nan

In [193]:
# average apt winter
avg_apt_win_19 = airbnb_winter_19['Entire apt'].mean()
avg_apt_win_18 = airbnb_winter_18['Entire apt'].mean()
avg_apt_win_17 = airbnb_winter_17['Entire apt'].mean()

print("Average number of apartments for winter: \n2019: " + str(avg_apt_win_19), "\n2018: " + str(avg_apt_win_18), "\n2017: " + str(avg_apt_win_17))

Average number of apartments for winter:
2019: nan
2018: nan
2017: nan

In [194]:
# average private room summer
avg_proom_sum_19 = airbnb_summer_19['Private room'].mean()
avg_proom_sum_18 = airbnb_summer_18['Private room'].mean()
avg_proom_sum_17 = airbnb_summer_17['Private room'].mean()

print("Average number of private rooms for summer: \n2019: " + str(avg_proom_sum_19), "\n2018: " + str(avg_proom_sum_18), "\n2017: " + str(avg_proom_sum_17))

Average number of private rooms for summer:
2019: nan
2018: nan
2017: nan

In [195]:
# average private room winter
avg_proom_win_19 = airbnb_winter_19['Private room'].mean()
avg_proom_win_18 = airbnb_winter_18['Private room'].mean()
avg_proom_win_17 = airbnb_winter_17['Private room'].mean()

print("Average number of private rooms for winter: \n2019: " + str(avg_proom_win_19), "\n2018: " + str(avg_proom_win_18), "\n2017: " + str(avg_proom_win_17))

Average number of private rooms for winter:
2019: nan
2018: nan
2017: nan

In [196]:
# average shared room summer
avg_sroom_sum_19 = airbnb_summer_19['Shared room'].mean()
avg_sroom_sum_18 = airbnb_summer_18['Shared room'].mean()
avg_sroom_sum_17 = airbnb_summer_17['Shared room'].mean()

print("Average number of shared rooms for summer: \n2019: " + str(avg_sroom_sum_19), "\n2018: " + str(avg_sroom_sum_18), "\n2017: " + str(avg_sroom_sum_17))

Average number of shared rooms for summer:
2019: nan
2018: nan
2017: nan

In [197]:
# average shared room winter
avg_sroom_win_19 = airbnb_winter_19['Shared room'].mean()
avg_sroom_win_18 = airbnb_winter_18['Shared room'].mean()
avg_sroom_win_17 = airbnb_winter_17['Shared room'].mean()

print("Average number of shared rooms for winter: \n2019: " + str(avg_sroom_win_19), "\n2018: " + str(avg_sroom_win_18), "\n2017: " + str(avg_sroom_win_17))

Average number of shared rooms for winter:
2019: nan
2018: nan
2017: nan

In [198]:
# average price apt summer

avg_price_apt_sum_19 = airbnb_summer_19['Entire apt average price'].mean()
avg_price_apt_sum_18 = airbnb_summer_18['Entire apt average price'].mean()
avg_price_apt_sum_17 = airbnb_summer_17['Entire apt average price'].mean()

print("Average price of apartments for summer: \n2019: " + str(avg_price_apt_sum_19), "\n2018: " + str(avg_price_apt_sum_18), "\n2017: " + str(avg_price_apt_sum_17))

Average price of apartments for summer:
2019: nan
2018: nan
2017: nan

In [199]:
# average price apt winter

avg_price_apt_win_19 = airbnb_winter_19['Entire apt average price'].mean()
avg_price_apt_win_18 = airbnb_winter_18['Entire apt average price'].mean()
avg_price_apt_win_17 = airbnb_winter_17['Entire apt average price'].mean()

print("Average price of apartments for winter: \n2019: " + str(avg_price_apt_win_19), "\n2018: " + str(avg_price_apt_win_18), "\n2017: " + str(avg_price_apt_win_17))

Average price of apartments for winter:
2019: nan
2018: nan
2017: nan

In [200]:
# average price private room summer

avg_price_proom_sum_19 = airbnb_summer_19['Private room average price'].mean()
avg_price_proom_sum_18 = airbnb_summer_18['Private room average price'].mean()
avg_price_proom_sum_17 = airbnb_summer_17['Private room average price'].mean()

print("Average price of private rooms for summer: \n2019: " + str(avg_price_proom_sum_19), "\n2018: " + str(avg_price_proom_sum_18), "\n2017: " + str(avg_price_proom_sum_17))

Average price of private rooms for summer:
2019: nan
2018: nan
2017: nan

In [201]:
# average price private room winter

avg_price_proom_win_19 = airbnb_winter_19['Private room average price'].mean()
avg_price_proom_win_18 = airbnb_winter_18['Private room average price'].mean()
avg_price_proom_win_17 = airbnb_winter_17['Private room average price'].mean()

print("Average price of private rooms for winter: \n2019: " + str(avg_price_proom_win_19), "\n2018: " + str(avg_price_proom_win_18), "\n2017: " + str(avg_price_proom_win_17))

Average price of private rooms for winter:
2019: nan
2018: nan
2017: nan

In [202]:
# average price shared room summer

avg_price_sroom_sum_19 = airbnb_summer_19['Shared room average price'].mean()
avg_price_sroom_sum_18 = airbnb_summer_18['Shared room average price'].mean()
avg_price_sroom_sum_17 = airbnb_summer_17['Shared room average price'].mean()

print("Average price of shared rooms for summer: \n2019: " + str(avg_price_sroom_sum_19), "\n2018: " + str(avg_price_sroom_sum_18), "\n2017: " + str(avg_price_sroom_sum_17))

Average price of shared rooms for summer:
2019: nan
2018: nan
2017: nan

In [203]:
# average price shared room winter

avg_price_sroom_win_19 = airbnb_winter_19['Shared room average price'].mean()
avg_price_sroom_win_18 = airbnb_winter_18['Shared room average price'].mean()
avg_price_sroom_win_17 = airbnb_winter_17['Shared room average price'].mean()

print("Average price of shared rooms for winter: \n2019: " + str(avg_price_sroom_win_19), "\n2018: " + str(avg_price_sroom_win_18), "\n2017: " + str(avg_price_sroom_win_17))

Average price of shared rooms for winter:
2019: nan
2018: nan
2017: nan

# Hotel data

In [204]:
hotel_sh

    year      month  price3  price4  price5
0   2017    January   51.55   65.50  129.67
1   2017   February   50.35   66.03  128.15
2   2017      March   54.66   70.58  138.63
3   2017      April   74.49   88.92  169.53
4   2017        May   78.44   96.92  182.69
5   2017       June   74.03   90.30  170.80
6   2017       July   72.59   85.73  163.68
7   2017     August   75.26   86.34  159.05
8   2017  September   89.77  109.60  200.97
9   2017    October   85.00  108.92  195.91
10  2017   November   62.81   83.63  164.98
11  2017   December     NaN     NaN     NaN
12  2018    January   58.93   72.82  147.69
13  2018   February   57.17   71.25  143.27
14  2018      March   65.60   83.21  153.34
15  2018      April   82.37   95.02  174.53
16  2018        May   97.39  110.54  199.30
17  2018       June   90.37  104.61  193.39
18  2018       July   91.41  101.76  194.98
19  2018     August   84.68   92.87  182.09
20  2018  September   94.25  110.36  193.95
21  2018    October   87.85  102.77  189.10
22  2018   November   70.35   88.04  170.06
23  2018   December     NaN     NaN     NaN
24  2019    January   58.58   75.29  152.19
25  2019   February   56.10   72.75  148.78
26  2019      March   68.05   89.97  156.12
27  2019      April   84.44  100.86  178.87
28  2019        May   93.23  112.18  196.77
29  2019       June   94.06  118.90  212.56
30  2019       July   83.82   96.30  178.18
31  2019     August   80.98   95.98  168.26
32  2019  September     NaN     NaN     NaN
33  2019    October     NaN     NaN     NaN
34  2019   November     NaN     NaN     NaN
35  2019   December     NaN     NaN     NaN

In [205]:
hotel_summer = hotel_sh[(hotel_sh["month"]== 'June') | (hotel_sh["month"]== 'July') | (hotel_sh["month"]== 'August') | (hotel_sh["month"]== 'September')]
hotel_summer_17 = hotel_summer[hotel_summer['year'] == 2017]
hotel_summer_18 = hotel_summer[hotel_summer['year'] == 2018]
hotel_summer_19 = hotel_summer[hotel_summer['year'] == 2019]

In [236]:
hotel_winter1 = hotel_sh[(hotel_sh["month"]== 'November') | (hotel_sh["month"]== 'December')]
hotel_winter2 = hotel_sh[(hotel_sh["month"]== 'January') | (hotel_sh["month"]== 'February')]

hotel_winter_17 = pd.concat([hotel_winter1[hotel_winter['year'] == 2017], hotel_winter2[hotel_winter2['year'] == 2018]])
hotel_winter_18 = pd.concat([hotel_winter1[hotel_winter['year'] == 2018], hotel_winter2[hotel_winter2['year'] == 2019]])
hotel_winter_19 = hotel_winter1[hotel_winter['year'] == 2019]
hotel_winter_19

C:\Users\Zaca\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.
C:\Users\Zaca\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """
C:\Users\Zaca\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

    year     month  price3  price4  price5
34  2019  November     NaN     NaN     NaN
35  2019  December     NaN     NaN     NaN

In [207]:
# 3* price summer
h3_summer_17 = hotel_summer_17['price3'].mean()
h3_summer_18 = hotel_summer_18['price3'].mean()
h3_summer_19 = hotel_summer_19['price3'].mean()

print("Average 3 stars hotel prices summer: \n2017: " + str(h3_summer_17) + "\n2018: " + str(h3_summer_18) + "\n2019: " + str(h3_summer_19))

Average 3 stars hotel prices summer:
2017: 77.9125
2018: 90.17750000000001
2019: 86.28666666666668

In [208]:
# 4* price summer
h4_summer_17 = hotel_summer_17['price4'].mean()
h4_summer_18 = hotel_summer_18['price4'].mean()
h4_summer_19 = hotel_summer_19['price4'].mean()

print("Average 4 stars hotel prices summer: \n2017: " + str(h4_summer_17) + "\n2018: " + str(h4_summer_18) + "\n2019: " + str(h4_summer_19))

Average 4 stars hotel prices summer:
2017: 92.9925
2018: 102.4
2019: 103.72666666666667

In [209]:
# 5* price summer
h5_summer_17 = hotel_summer_17['price5'].mean()
h5_summer_18 = hotel_summer_18['price5'].mean()
h5_summer_19 = hotel_summer_19['price5'].mean()

print("Average 5 stars hotel prices summer: \n2017: " + str(h5_summer_17) + "\n2018: " + str(h5_summer_18) + "\n2019: " + str(h5_summer_19))

Average 5 stars hotel prices summer:
2017: 173.625
2018: 191.10250000000002
2019: 186.33333333333334

In [210]:
# 3* price winter
h3_winter_17 = hotel_winter_17['price3'].mean()
h3_winter_18 = hotel_winter_18['price3'].mean()
h3_winter_19 = hotel_winter_19['price3'].mean()
""
print("Average 3 stars hotel prices winter: \n2017: " + str(h3_winter_17) + "\n2018: " + str(h3_winter_18) + "\n2019: " + str(h3_winter_19))

Average 3 stars hotel prices winter:
2017: 54.903333333333336
2018: 62.15
2019: 57.34

In [211]:
# 4* price winter
h4_winter_17 = hotel_winter_17['price4'].mean()
h4_winter_18 = hotel_winter_18['price4'].mean()
h4_winter_19 = hotel_winter_19['price4'].mean()
""
print("Average 4 stars hotel prices winter: \n2017: " + str(h4_winter_17) + "\n2018: " + str(h4_winter_18) + "\n2019: " + str(h4_winter_19))

Average 4 stars hotel prices winter:
2017: 71.72
2018: 77.37
2019: 74.02000000000001

In [212]:
# 5* price winter
h5_winter_17 = hotel_winter_17['price5'].mean()
h5_winter_18 = hotel_winter_18['price5'].mean()
h5_winter_19 = hotel_winter_19['price5'].mean()
""
print("Average 5 stars hotel prices winter: \n2017: " + str(h5_winter_17) + "\n2018: " + str(h5_winter_18) + "\n2019: " + str(h5_winter_19))

Average 5 stars hotel prices winter:
2017: 140.9333333333333
2018: 153.67333333333335
2019: 150.485

In [213]:
# compare listings to avg price of hotel
avg_sum_19 = airbnb_summer_19['Listings'].mean()
avg_sum_18 = airbnb_summer_18['Listings'].mean()
avg_sum_17 = airbnb_summer_17['Listings'].mean()

avg_win_19 = airbnb_winter_19['Listings'].mean()
avg_win_18 = airbnb_winter_18['Listings'].mean()
avg_win_17 = airbnb_winter_17['Listings'].mean()

In [214]:
var_sum_17_18 = ((avg_sum_18 - avg_sum_17) / avg_sum_17) * 100
var_sum_18_19 = ((avg_sum_19 - avg_sum_18) / avg_sum_18) * 100

print(var_sum_17_18, var_sum_18_19)

nan nan

In [215]:
var_winter_17_18 = ((avg_win_18 - avg_win_17) / avg_win_17) * 100
var_winter_18_19 = ((avg_win_19 - avg_win_18) / avg_win_18) * 100

print(var_winter_17_18, var_winter_18_19)

nan nan

In [216]:
mean_h_sum_17 = (h3_summer_17 + h4_summer_17 + h5_summer_17) / 3
mean_h_sum_18 = (h3_summer_18 + h4_summer_18 + h5_summer_18) / 3
mean_h_sum_19 = (h3_summer_19 + h4_summer_19 + h5_summer_19) / 3

print(mean_h_sum_17, mean_h_sum_18, mean_h_sum_19)

114.84333333333332 127.89333333333336 125.4488888888889

In [217]:
mean_h_winter_17 = (h3_winter_17 + h4_winter_17 + h5_winter_17) / 3
mean_h_winter_18 = (h3_winter_18 + h4_winter_18 + h5_winter_18) / 3
mean_h_winter_19 = (h3_winter_19 + h4_winter_19 + h5_winter_19) / 3

print(mean_h_winter_17, mean_h_winter_18, mean_h_winter_19)

89.18555555555554 97.73111111111113 93.94833333333334

In [218]:
# variation with mean winter
h_var_win_17_18 = ((mean_h_winter_18 - mean_h_winter_17) / mean_h_winter_17) * 100
h_var_win_18_19 = ((mean_h_winter_19 - mean_h_winter_18) / mean_h_winter_18) * 100

print(h_var_win_17_18, h_var_win_18_19)

9.58177083982214 -3.8705973305441406

In [219]:
# variation with mean summer
h_var_sum_17_18 = ((mean_h_sum_18 - mean_h_sum_17) / mean_h_sum_17) * 100
h_var_sum_18_19 = ((mean_h_sum_19 - mean_h_sum_18) / mean_h_sum_18) * 100

print(h_var_sum_17_18, h_var_sum_18_19)

11.363306533538479 -1.9113149847094897

In [220]:
# variation in 3* hotel price
h3_var_sum_17_18 = ((h3_summer_18 - h3_summer_17) / h3_summer_17) * 100
h3_var_sum_18_19 = ((h3_summer_19 - h3_summer_18) / h3_summer_18) * 100

print(h3_var_sum_17_18, h3_var_sum_18_19)

15.742018289748136 -4.3146387217801925

In [221]:
# variation in 4* hotel price
h4_var_sum_17_18 = ((h4_summer_18 - h4_summer_17) / h4_summer_17) * 100
h4_var_sum_18_19 = ((h4_summer_19 - h4_summer_18) / h4_summer_18) * 100

print(h4_var_sum_17_18, h4_var_sum_18_19)

10.116407237142779 1.2955729166666679

In [222]:
# variation in 5* hotel price
h5_var_sum_17_18 = ((h5_summer_18 - h5_summer_17) / h5_summer_17) * 100
h5_var_sum_18_19 = ((h5_summer_19 - h5_summer_18) / h5_summer_18) * 100

print(h5_var_sum_17_18, h5_var_sum_18_19)

10.066234701223914 -2.4956066334384306

In [223]:
# variation in 3* hotel price
h3_var_win_17_18 = ((h3_winter_18 - h3_winter_17) / h3_winter_17) * 100
h3_var_win_18_19 = ((h3_winter_19 - h3_winter_18) / h3_winter_18) * 100

print(h3_var_win_17_18, h3_var_win_18_19)

13.198955740392195 -7.73934030571198

In [224]:
# variation in 4* hotel price
h4_var_win_17_18 = ((h4_winter_18 - h4_winter_17) / h4_winter_17) * 100
h4_var_win_18_19 = ((h4_winter_19 - h4_winter_18) / h4_winter_18) * 100

print(h4_var_win_17_18, h4_var_win_18_19)

7.877858337981046 -4.32984360863383

In [225]:
# variation in 5* hotel price
h5_var_win_17_18 = ((h5_winter_18 - h5_winter_17) / h5_winter_17) * 100
h5_var_win_18_19 = ((h5_winter_19 - h5_winter_18) / h5_winter_18) * 100

print(h5_var_win_17_18, h5_var_win_18_19)

9.039735099337777 -2.0747472994664

In [228]:
challenge = pd.DataFrame(index= [k for k in month_name_dict], columns= ['Hotel 2017', 'Airbnb 2017', 'Hotel 2018', 'Airbnb 2018', 'Hotel 2019', 'Airbnb 2019'])

In [229]:
challenge

          Hotel 2017 Airbnb 2017 Hotel 2018 Airbnb 2018 Hotel 2019 Airbnb 2019
January          NaN         NaN        NaN         NaN        NaN         NaN
February         NaN         NaN        NaN         NaN        NaN         NaN
March            NaN         NaN        NaN         NaN        NaN         NaN
April            NaN         NaN        NaN         NaN        NaN         NaN
May              NaN         NaN        NaN         NaN        NaN         NaN
June             NaN         NaN        NaN         NaN        NaN         NaN
July             NaN         NaN        NaN         NaN        NaN         NaN
August           NaN         NaN        NaN         NaN        NaN         NaN
September        NaN         NaN        NaN         NaN        NaN         NaN
October          NaN         NaN        NaN         NaN        NaN         NaN
November         NaN         NaN        NaN         NaN        NaN         NaN
December         NaN         NaN        NaN         NaN        NaN         NaN