# Glassdoor dataset

In [2]:
import pandas as pd

In [3]:
gd = pd.read_csv('glassdoor.csv')

In [48]:
display(gd[['header.payMed', 'header.location']][(gd['header.jobTitle'].str.lower().str.contains('data scientist')) & (gd['header.payMed'].isnull() == False)])

        header.payMed  header.location
22           159427.0    Watertown, MA
28           115139.0  Jersey City, NJ
1222         110666.0      Herndon, VA
1642         109985.0    San Diego, CA
1751         127626.0     New York, NY
...               ...              ...
162508       105817.0       McLean, VA
163292       117771.0     New York, NY
163413       232200.0  Foster City, CA
164873        76950.0    Green Bay, WI
165058        87278.0     Columbia, MD

[311 rows x 2 columns]

In [41]:
print(gd['salary.currency.name'])

0                          NaN
1         United Kingdom Pound
2                          NaN
3                          NaN
4                          NaN
                  ...
165285                     NaN
165286    United Kingdom Pound
165287                     NaN
165288                     NaN
165289                     NaN
Name: salary.currency.name, Length: 165290, dtype: object

In [63]:
gd['header.payMed'][(gd['header.jobTitle'].str.lower().str.contains('data scientist')) & gd['header.payMed'].isnull() == False].value_counts()

100000.0    10
70000.0      9
82500.0      8
110000.0     7
71343.0      7
            ..
110550.0     1
47847.0      1
94247.0      1
60222.0      1
46667.0      1
Name: header.payMed, Length: 2280, dtype: int64